border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments



body
    //orange: #FF4B00
    //red: #E82C0C
    //crimson: #FF0000
    //magenta: #E80C7A
    //fuchsia: #FE0DFF
    white: #FFFFFF
    //color: @white

    blue: #052FFF;
    green: #0CE871;
    yellow: #FFF200;
    orange: #E85E0C;
    pink: #DC00FF;

    c1: lightness(@blue, 80%);
    c2: lightness(@green, 80%);
    c3: lightness(@yellow, 65%);
    c4: lightness(@orange, 80%);
    c5: lightness(@pink, 80%);

    fg: #f07000
    bg: #4f0000

    font-size: 16px;
    background-color: @bg;
    margin: 0;
    padding: 4.5em;
    //border: 45px solid @bg
    //border-left: 100px solid @bg;



    .logo {
        width: 523px;
        height: 42px;
        //background: url('../img/logo_black.png');
        text-align: center;
        margin: 2em auto;
        font-family: "Crimson Text";
        font-variant: small-caps;
        font-size: 48px;
        text-decoration underline
        letter-spacing 1px;
        color: #222222;
        font-weight: bold;
    }

    .full-img {
        max-width: 100%;
        bottom: 0;
        left: 0;
        margin: auto;
        overflow: auto;
        position: fixed;
        right: 0;
        top: 0;
    }

    section
        width: 68%;
        margin: 4em auto 5em auto;
        font-family: 'Crimson Text', serif;
        font-size: 21px;
        text-align: justify;
        text-justify: inter-word;
        h1
            text-align center

    .first-caps
        line-height: 30xpx

    .first-caps:first-letter {
        font-size: 50px;
    }

    figcaption
        font-family: 'Crimson Text', serif;
        font-size: 16px;

    .testimonials
        p
            margin-bottom 3em
            font-style italic
        i
            font-weight bold

    .contact-form
        margin: 0 auto;
        width: 300px;
        text-align center
    .prayer {
        margin: 1em auto;
        max-width: 90%;
        text-align: center;
    }


    .wrapper {
        width: 75%;
        background-color: @white;
        overflow: hidden;
        padding: 2em;
        -webkit-box-shadow: outline  0px 7px 86px 43px @black;
        -moz-box-shadow: outline  0px 7px 86px 43px @bg;
        box-shadow: outline  0px 7px 86px 43px @black;
    }

    .nav
        position: fixed;
        top: 1em;
        right: 0;
        width: 20%;
        background-color: @bg;
        height: 100%;
        padding-top: 2em;
        -webkit-box-shadow: inset 0px 7px 86px 43px @bg;
        -moz-box-shadow: inset 0px 7px 86px 43px @bg;
        box-shadow: inset 0px 7px 86px 43px @bg;

    .nav-link
        padding: 0.618em;
        //border: 1px solid @fg;
        border-top: none;
        border-left: none;
        border-right: none;
        //width: 70%;
        text-align: left;
        text-transform: uppercase;
        //margin: 0 auto 0 auto;
        font-family: "Helvetica Neue";
        font-size: 1.1em;
        font-weight: 500;
        letter-spacing 1px
        font-kerning: auto;
        cursor: pointer;
        color: @fg;
        text-shadow 1px 1px 1px black
        .selected
            color: @bg;
            background-color: @fg;


    .om
        font-size: 4em
        font: "Crimson Text"
        color: @fg
        margin: 0 auto
        padding: 25px 40px 0px 40px

    a {
        text-decoration: none;
    }

    .yoga-class
        margin 1em auto
        text-align center
        .yoga-class-title
            font-weight bold

    .yoga-asana
        text-align center
        margin auto

    .yoga-asanas
        margin 1em auto
        text-align: center
        img
            margin -2px
            padding 0

