body {
  white: #fff;
  blue: #052fff;
  green: #0ce871;
  yellow: #fff200;
  orange: #e85e0c;
  pink: #dc00ff;
  c1: #9af;
  c2: #9efac8;
  c3: #fff64d;
  c4: #fac09e;
  c5: #f199ff;
  fg: #f07000;
  bg: #4f0000;
  font-size: 16px;
  background-color: #4f0000;
  margin: 0;
  padding: 3.5em;
}
body .logo {
  width: 523px;
  height: 42px;
  background: url("../img/logo_black.png");
  text-align: center;
  margin: 2em auto;
  font-family: Helvetica;
  font-size: 24px;
  color: #222;
  font-weight: bold;
}
body .full-img {
  max-width: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
body section {
  width: 68%;
  margin: 4em auto 5em auto;
  font-family: 'Crimson Text', serif;
  font-size: 21px;
  text-align: justify;
  text-justify: inter-word;
}
body section h1 {
  text-align: center;
}
body .first-caps:first-letter {
  font-size: 50px;
}
body figcaption {
  font-family: 'Crimson Text', serif;
  font-size: 16px;
}
body .testimonials p {
  margin-bottom: 3em;
  font-style: italic;
}
body .testimonials i {
  font-weight: bold;
}
body .contact-form {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}
body .prayer {
  margin: 1em auto;
  max-width: 90%;
  text-align: center;
}
body .nav-link {
  padding: 0.8em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
  font-kerning: auto;
  cursor: pointer;
  color: #f07000;
  text-shadow: 1px 1px 1px #000;
}
body .nav-link .selected {
  color: #4f0000;
  background-color: #f07000;
}
body .wrapper {
  width: 68%;
  background-color: #fff;
  overflow: hidden;
  padding: 2em;
  -webkit-box-shadow: outline 0px 7px 86px 43px;
  -moz-box-shadow: outline 0px 7px 86px 43px #4f0000;
  box-shadow: outline 0px 7px 86px 43px;
}
body .nav {
  position: fixed;
  top: 1em;
  right: 0;
  width: 27%;
  background-color: #4f0000;
  height: 100%;
  padding-top: 2em;
  -webkit-box-shadow: inset 0px 7px 86px 43px #4f0000;
  -moz-box-shadow: inset 0px 7px 86px 43px #4f0000;
  box-shadow: inset 0px 7px 86px 43px #4f0000;
}
body .om {
  font-size: 4em;
  font: "Crimson Text";
  color: #f07000;
  margin: 0 auto;
  padding: 25px 40px 0px 40px;
}
body a {
  text-decoration: none;
}
body .yoga-class {
  margin: 1em auto;
  text-align: center;
}
body .yoga-class .yoga-class-title {
  font-weight: bold;
}
body .yoga-asana {
  text-align: center;
  margin: auto;
}
body .yoga-asanas {
  margin: 1em auto;
  text-align: center;
}
body .yoga-asanas img {
  margin: -2px;
  padding: 0;
}
